
.dashboard {
    margin-top: 8px;
    margin-bottom: 30px;
    margin-right: -10px;
    padding: 20px;
    background-color: #859d25;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  

  .statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .statistic {
    text-align: center;
    padding: 10px;
    background-color: #26bcba;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .statistic h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .statistic p {
    font-size: 20px;
    }
  
  .dashboard h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  